server:
  port: 8081
spring:
  profiles:
    active: dev
  application:
    name: hmdp
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://192.168.100.128:3306/hmdp?useSSL=false&serverTimezone=UTC
    username: root
    password: 90327
  redis:
    host: 192.168.100.128
    port: 6379
    password: 90327
    lettuce:
      pool:
        max-active: 10
        max-idle: 10
        min-idle: 1
        time-between-eviction-runs: 10s
  mail:
    host: smtp.qq.com
    port: 465
    username: ${spring.mail.username}
    password: ${spring.mail.password}
    properties:
      mail:
        smtp:
          auth: true
          ssl:
            enable: true
  jackson:
    default-property-inclusion: non_null # JSON处理时忽略非空字段
  rabbitmq:
    host: 192.168.100.128 # 你的虚拟机IP
    port: 5672 # 端口
    virtual-host: /hmall # 虚拟主机
    username: rabbitmq # 用户名
    password: rabbitmq # 密码
mybatis-plus:
  type-aliases-package: com.hmdp.entity # 别名扫描包
logging:
  level:
    com.hmdp: debug